/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: transparentize(#0099cc, .7);
}

.container{
  background-color: transparentize(#0099cc, .5);
  padding-bottom: 20px;
  padding-top: 10px;
}

.paginate-wrapper{
  text-align: center;
}

.paginate-custom{
  display: inline-block;
}

.search-bar{
  display: inline-block;
}

.page-header{
  h1{
    display:inline-block;
  }
}

.navbar{
  background-color: #00cc66;
  
  padding-top: 5px;
  a{
    font-size: 15px;
    color: white;
  
  }
  a:hover{
    color: black;
  }
}