// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reviews{ //Used for displaying a review on a movie page
  text-align: left;

  h2{
    padding: 3px;
  }

  .title{
    font-size: 30px;
    text-decoration: bold;
  }

  .created{
    font-size: 10px;
  }

  .edit{
    font-size: 15px;
    text-decoration: bold;
    display: inline-block;
    color: white;
  }
  
  .rating{
    font-size: 20px;
    font-decoration: bold;
    display: inline-block;
  }
  .content{
    font-size: 20px;
  }
  .author{
    text-decoration: italic;
    color: #808080;
  } 
}

.new-review{ //new review button
  margin-right: 0;
}